.chart {
    -fx-background-image: url("background.png");
    -fx-padding: 15 25 15 15;
}
.chart-plot-background {
    -fx-background-color: red;
    -fx-background-image: url("chart-background.png"), url("graph-gridlines.png");
    -fx-background-size: cover, auto;
    -fx-background-repeat: no-repeat, repeat;
    -fx-background-position: 0% 0%, 0% 100%;
    -fx-border-color: black black transparent transparent;
}
.chart-area-symbol {
    -fx-background-color: white;
/*    -fx-padding: 0;*/
}
.chart-series-area-line { 
    -fx-stroke: white; 
    -fx-stroke-width: 2px; 
}
.chart-series-area-fill { 
    -fx-fill: linear-gradient(to right, white, rgba(255,255,255,0)); 
    -fx-blend-mode: OVERLAY;
}
.axis {
    -fx-tick-mark-visible: false;
    -fx-minor-tick-visible: false;
    -fx-tick-length: 3;
    -fx-minor-tick-length: 0;
    -fx-border-color: transparent;
}
.axis:bottom {
    -fx-border-color: black transparent transparent transparent;
}
.axis:left {
    -fx-border-color: transparent black transparent transparent;
}
.axis Text{
    -fx-fill: white;
}
.tick-mark {
    -fx-font-size: 10px;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1 );
}